language: go
go:
  - 1.4.2
before_install:
  - cp .netrc ~
  - chmod 600 .netrc
install:
  - go get -v
  - go get github.com/tools/godep
before_script:
  - psql -c 'create database marga_development;' -U postgres
  - psql -c 'CREATE EXTENSION postgis;' -U postgres -d marga_development
  - psql -c 'CREATE EXTENSION postgis_topology;' -U postgres -d marga_development
script:
  - "godep go test -v ./..."
